/*para todas as coisas que podem ser editadas com AJAX*/

DIV.editable:hover {
	background-color:#ffffd3;
}

INPUT.editable {
	border: 1px inset rgb(233, 233, 174);
	padding: 3px 0px 3px 3px;
	background-color: #f1f1f1;
	margin-right:4px;
}