#tiki-midAudio, #tiki-midVideo, #tiki-midGraf, #tiki-midAcervo, #tiki-mid {
	line-height:1.5em;
	margin-top:5px;
	margin-left:5px;
	background:white;
	padding:0px 10px 10px 0px;
}

#tiki-midNaoWiki,#tiki-midAcervo {
	width:78.5%;
}

#tiki-midAudio h1, #tiki-midVideo h1, #tiki-midGraf h1, #tiki-midAcervo h1, #tiki-mid h1 {
	line-height:1em;
}

#tiki-midAcervo {
	padding:0px 0px 0px 0px;
}

#tiki-mid .wikitext {
	text-align:justify;
}

#ajax-contentBubble {
	overflow:hidden;
	background-color:white;
}

.diff td {
	border: 1px solid #A9B8C2;
}
.diff div {
	border-top : 1px solid #A9B8C2;
}
.diffheader {
	background-color : #A9B8C2;
	font-weight: bold;
}
.diffadded {
	background-color : #CCFFCC;
}
.diffdeleted {
	background-color : #FFCCCC;
}
.diffbody {
	background-color : #F2F4F5;
}
.diffchar {
	color : red;
}