#gHomeWikiTitle {
	margin-top:3px;
	float:right;
}

#gHomeWikiBottom {
	text-align:right;
	clear:both;
}

#gHomeWiki {
	background:#eff9ea;
	overflow:hidden;
	/*padding:0 10px 0px 10px;*/
}

#ajax-navBottom {
	margin:10px 0;
}
