#sideContent {
	width:20%;
	padding-top:10px;
	float:right;
	text-align:center;
	margin-top:5px;
	margin-left:7px;
	background:#fff;
}

#localMenu {
	padding-right:20px;
}

#localMenu ul {
	text-align:left;
	list-style-type:none;
	font-weight:bold;
}

#localMenu li.selectedAcervo, li.selectedAudio, li.selectedGraf, li.selectedVideo {
	color:white;
	background-color:#91cd6d;
	-moz-border-radius:8px 8px 8px 8px;
	font-weight:bold;
}

#localMenu li.selectedVideo {
	background-color:#ff8f88;
}

#localMenu li.selectedGraf {
	background-color:#b7a4d3;
}

#localMenu li.selectedAudio {
	background-color:#ff8200;
}