#printLogo {
	position:absolute;
	left:0;
	top:10px;
}

#printSite{
	position:absolute;
	margin:0;
	padding:0;
	right:0;
	top:0;
	font-family:arial,verdana,helvetica,lucida,sans-serif;
	font-size:18px;
	margin-top:1em;
}