#lastChangesOptions .input {
	border:1px inset rgb(233, 233, 174);
	background-color:#f1f1f1;
	font-size:12px;
}

#lastChangesOptions {
	padding:7px 2px 7px 2px;
	margin-left:68%;
	width:170px;
	text-align:center;
	border:1px solid #e9e9e9;
	font-size:12px;
}

#lastChangesOptions INPUT {
	border:1px outset rgb(233, 233, 174);
	margin:2px;
	background-color:#c1c1c1;
	font-size:12px;
}

#listLastChanges h4 {
	font-weight:normal;
	text-align:center;
}

