/*css usado para impressões*/
html,body,form,table,tr,td {
	padding:5px;
	margin:0 auto;
	background-image:none;
	background:white;
	width:95%;
}

body {
	width:100%;
	margin:0 auto;
	font-family:Garamond, Georgia, New York, Times, Times New Roman;
	background-color:white;
	background-image:none;
	padding:0;
}

#topContainer, #topMenu {
	display:none;
}

#tiki-main {
        max-width:100%;
}

#ajax-contentBubble {
	overflow:visible;
}

#tiki-midAudio,#tiki-midVideo, #tiki-midGraf, #tiki-midAcervo, #tiki-mid, #tiki-midNaoWiki {
	overflow:visible;
	width:100%;
	border:0;
	margin-top:40px;
	font-size:12pt;
	line-height:1.5em;
	background:white;
}

#tiki-midAudio h1, #tiki-midVideo h1, #tiki-midGraf h1, #tiki-midAcervo h1, #tiki-mid h1 {
	line-height:1em;
}

#tiki-mid .wikitext {
	text-align:justify;
}

.titlebar {
	font-size:36pt;
}
	
.titlebar:first-letter {
   	font-size:40pt;
}

p.editdate {
	float:none;
	margin-top:25px;
}

A.wiki {
	text-decoration:underline;
}

A.external{
	color:blue;
	background:none;
	padding-right:0px;
	text-decoration:none;
}

A.external:after {
	color:black;
	/* Expand URLs for printing */
    content:" (" attr(href) ") ";
    text-decoration:none;
}

#printFooter{
	text-align:center;
}