/* HeBubbles EstudioLivre theme */


/* general tags */
html {
	background-image:url(estudiolivre/bgGradientBlue.png);
	background-repeat:repeat-x;
	/*height:99.3%;*/
	height:100%;
}

body {
	min-height:100%;
	margin: 0;
	
	padding: 0px 10px 5px 10px;
	font-family: arial,verdana,helvetica,lucida,sans-serif; /*BitStream Vera Sans, Verdana;*/
	font-size:12px;
	
	background-image:url(estudiolivre/bgShadow.png);
	background-repeat:repeat-y;
	background-position: center;
}

A {
	text-decoration:none;
	color:grey;
}

A:hover {
	color: black;
}

img {
	border:0px;
}

#tiki-main {
	width:760px;
	margin:0px auto;
	background-color:#FFF;
	padding-top:21px;
	padding-bottom:21px;
}

.tooltipCont {
	margin-top:5px;
	width:205px;
}

.tooltipTop {
	height:18px;
	background-image:url(estudiolivre/tooltipTop.png);	
}

.tooltipMid {
	padding: 0 7px 0 7px;
	background-image:url(estudiolivre/tooltipMid.png);	
}

.tooltipBottom {
	height:15px;
	background-image:url(estudiolivre/tooltipBottom.png);	
}
.center {
	text-align:center;
	
}

.right {
	text-align:right;
}

.left {
	text-align:left;
}

.uLittle {
	font-size:90%
}

.sectionTitle {
	padding-top: 3px;
	margin:0 0 5px 0;
	border-top: 2px solid #c2c2be;
}

.sectionTitle h1 {
	display:inline;
	font-size:13px;
	font-weight:bold;
}

.sectionTitle h2 {
	display:inline;
	font-size:12px;
	color: grey;
}

.pointer {
	cursor: pointer;
}

/* para fazer links 'falsos' com span*/
span.pointer {
	text-decoration:none;
	color:grey;
}

span.hiddenPointer {
	cursor: pointer;
	color:black;
}

span.pointer:hover {
	color: black;
}

DIV.editable:hover {
	background-color:#ffffd3;
}

INPUT.editable {
	border: 1px inset rgb(233, 233, 174);
	padding: 3px 0px 3px 3px;
	background-color: #f1f1f1;
	margin-right:4px;
}

/*************************************************/

/* topBar */
#tiki-top{
	background-color:#FFF;
}

#topContainer {
	position:relative;
	height:15px;
	background-color:#FFF;
	padding:10px;
}

#logo {
	position:absolute;
	top:-15px;
	left:10px;
	float:left;
	z-index:3;
}


/* search a caixa de busca no canto superior direito do site, que aparece o tempo inteiro */

#search {
	height:42px;
	position:absolute;
	top:-15px;
	right:5px;
	float:right;
}

.searchForm {
	float:right;
	margin: 0px;
	padding: 0px;
}

/* para aparecerem as opções de busca quando o mouse passa por cima da caixa de busca */
#search .searchForm:hover .searchOptions{
	left:0px;
}

/* para aparecer o '+' logo abaixo da busca, desabilitado nesse release*/
#search .searchForm:hover .searchMore {
	left:0px;
}

#searchField, #searchFieldResults {
	height:15px;
	width:220px;
	background-color:white;
	position:relative;
	top: -5px;
	margin: 0px;
	padding: 0px;
	font-size: 10px;
	border-left: 1px solid #bebebe;
	border-top: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
	border-right: 0px;
}

#searchFieldResults {
	width:80%
}

/* as opções de busca. o left é -9999 para que não apareça a não ser quando o mouse passa por cima (ver acima) */
.searchOptions {
	position:relative;
	left: -9999px;
	margin: 0px;
	padding: 0px;
	list-style-type:none;
}

.searchOptions li {
	color: #a1a1a1;
	font-size:11px;
	font-weight:bold;
	background-color:#ebebeb;
	display: inline;
	padding: 0px 2px 1px 2px;
}

.searchOptions li a {
	cursor:pointer;
}

.searchOptions li.selected a {
	color: black;
	background-color:#bebebe;
	cursor:pointer;
}

/* essas duas classes não fazem nada nesse release */
.searchMore {
	position:relative;
	left: -9999px;
	top: -5px;
	width:220px;
	display:block;
	text-align:right;
}

.searchMore span{
	font-size:12px;
	background-color:#ebebeb;
}

/* estilo dos breadcrumbs */
.elcrumbs {
	margin:7px 0px 0px 15px;
}

/*********************************/
/*Coisas da página de edição wiki*/
/*********************************/

/* imagem da interrogação, ajuda wiki */
#editHelp{
	float:right;
	margin-right:50px
}

/**/
#textareasize {
	float:right;
	margin-right:3px;
	margin-top:2px;
}

#wikiEditCont{
	overflow:hidden;
	margin:0px;
	padding-top:7px;
}

.wikiEdit {
	margin:0px;
	margin-top:1px;
	padding:10px 5px 0px 5px;
	border:1px solid grey;
}

#label.wikiEdit {
	padding:5px 5px 0px 5px;
	font-size:16px;
	position:relative;
	bottom:0px;
	border-bottom:1px solid white;
}

#labelRight {
	float:right;
	padding:0px;
	padding-top:2px;
	font-size:12px;
	border:0;
}

#attention {
	text-align:center;
	padding:5px;
	width:35%;
	position:relative;
	top:-1px;
	margin-right:10px;
	border: 1px solid grey;
	border-bottom:1px solid grey;
	border-top:1px solid white;	
	margin-left:60%;
}

#wikiPreviewCont INPUT, #wikiEditCont INPUT, #wikiEditCont TEXTAREA {
	border: 1px inset rgb(233, 233, 174);
	background-color:#f1f1f1;
}
#wikiPreviewCont .image, #wikiEditCont .image {
	border:0;
}

#editwiki {
	margin: 5px 0px 10px 0px;	
	width:99%;
}

#freetager{
	text-align:right;
}

#wikiEditExtra {
	margin-bottom:10px;	
}

#categorizator {
	margin:5px 0px 0px 20px;
	overflow:hidden;
	width:50%
}

#maisOpcoes {
	margin:5px 0px 5px 20px;
}

#edtComentario DIV, #edtIsMinor DIV, #edtPreviewAtt {
	text-align:left;
	margin-top:15px;
	font-weight:bold;
}

#edtComentario INPUT {
	width:100%;
}

#edtSaveCancel {
	text-align:center;
	margin-top:15px;
}

/****************************************************/
/* coisas específicas da pré-visualização da edição */
/****************************************************/

#wikiPreviewCont{
	overflow:hidden;
    padding-top:7px;
	margin:10px 0px 20px 0px;
}

.wikiPreview {
	margin:0px;
	border:1px solid grey;	
}

#label.wikiPreview {
	padding:5px 5px 0px 5px;
	font-size:16px;
	position:relative;
	bottom:0px;
	border-bottom:1px solid white;
}

#wikiPreviewCont #attention {
	padding:5px;
	text-align:justify;
	font-weight:bold;
	width:45%;
	float:right;
	position:relative;
	top:-1px;
	margin:0px;
	border: 1px solid grey;
	border-bottom:1px solid grey;
	border-top:1px solid white;	
}

#attention #attentionSave {
	text-align:center;
}

/* Wiki Text */
/* tudo que está dentro do texto wiki em si*/

A.external{
	background: url(estudiolivre/externalLink.png) center right no-repeat;
	padding-right: 13px;
}

#wikitext H1 {
    font-weight: normal;
	font-variant: small-caps;
	border-bottom: 1px solid grey;
}

#wikitext h2 {
  font-size:14px;
  text-transform: uppercase;
  font-weight: bold;
}

#wikitext h3 { 
  font-weight: bold;
}


#wikitext p {
	text-align:justify;
	text-indent:2em;
}


#wikitext a:link {
	color: #808080;
	text-decoration: underline;
}

#wikitext a:hover {
	color: grey;
	text-decoration: none;
}

#wikitext a:visited {
	color: #93a3b2;
	text-decoration: underline;
}

#wikitext IMG {
	max-width:93%;
}

/* classe usada para o que estiver entre '-=' e '=-', tipo '-=titulo=-'*/
.titlebar {
	/*display:inline;*/
	/*height:10px;*/
	padding-left:10px;
	margin: 0 auto;
	margin-bottom:20px;
	font-size:24px;
	font-variant: small-caps;
	text-align:center;
	border-top: 1px solid #aaaaaa;
	/*border-bottom: 1px solid grey;*/
	background-color:#eeeeee;
}

.titlebar:first-letter {
    text-transform: uppercase;
   	font-size:28px;
   	text-weight:bold;
}

#wikitext a.wikinew {
	color: red;
	font-size:14px;
}

/* classe das coisas dentro de '^' do wiki (fica uma caixa em volta)*/
.simplebox {
  background: #efefef;
  border: 1pt dashed #aaa;
  font-family: monospace;
/*  white-space: pre;*/
/*  margin: 1.33em 0px;*/
  margin:5px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 2px;
  font-weight:bold;
}

/* classe das linhas que começam com espaço no wiki, são as linhas de 'código'*/
tt {
	display:block;
	font-family: courier, serif, monospace;
	margin:2px;
	margin-left:15px;
	margin-bottom:5px;
	/*border: 1px solid green;	*/
}

/*classe dos [+] e [-] que aparecem ao lado das tags wiki '!+' ou '!-' ou '!!+' e assim por diante */
.flipper{
	cursor:pointer;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:0.2em;
	/*font-size:12px;
	font-weight:normal;
	float:left;
	margin-right:5px;
	margin-top:2px;*/
}

/*pois o [+] no h1 fica muito em cima*/
h1 .flipper {
	margin-top:8px;
}
	

/* Search Result */

#searchContainer {
	padding: 5px 0px 0px 0px;
	text-align:center;
}

#searchResults {
	text-align:left;	
}

#searchNoResults {
	text-align:center;
	margin: 15px 0 15px 0;
}

.searchResultItem {
	position:relative;
	font-size:12px;
	height:100%;
	margin: 5px 5px 5px 5px;
	/*border-top: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;*/
	padding: 5px 5px 0px 5px;
}

.searchResultItem .searchdesc {
	margin-left:10px;
}

.searchResultItemLink {
	font-size:14px;
	font-weight:bold;
	color:grey;
}

#searchResults .searchdesc {
	margin-left:10px;
}

#searchOptionsCont {
	text-align:center;
}

#searchOptionsCont a.linkbut {
	color: #a1a1a1;
	font-size:11px;
	font-weight:bold;
	background-color:#ebebeb;
	display: inline;
	padding: 0px 2px 1px 2px;
}

#searchOptionsCont a.selected {
	color: black;
	background-color:#bebebe
}



/* top menu */

#topMenu {
	height:22px;
	padding:0px 5px 0px 5px;
	border-top:1px solid #c1dfeb;
	border-bottom:1px solid #c1dfeb;
/*	background-image:url(estudiolivre/topMenuBg.png);*/
	background-color:#f6fafc;
	color:grey;
	text-align:right;
	overflow:hidden;
}

#topMenu A {
	 font-size:13px;
	 font-weight:bold;
}

#topMenuGeneral {
	margin-top:3px;
	float:left;
}

#topMenuLoading	{
	display:none;
	margin-left:110px;
	float:left;
}


#topMenuCubesContainer {
	position:relative;	
	margin-top: 1px;
	float:right;
}

#topMenuCubesContainer A {
	margin-left: 8px;
}

.hiddenDescript {
	display:inline;
}
#grafilab, #videolab, #audiolab, #acervolivre {
	position:relative;
	top:-0.4em;
}

#acervolivre {
	color:#5a9834;
}
#audiolab {
	color:#ffbc43;
}
#videolab {
	color:#ff5247;
}
#grafilab {
	color:#8c6db9;
}

/* content */

#ajax-contentBubble{
	overflow:hidden;
	/*height:300px;*/
	background-color:white;
}

/* tiki */

.wikitopline {
	margin-bottom: 5px;
	text-align:right;
	padding-top:5px;
}

.wikitopline img {
	margin-left:10px;
}

#tiki-midAudio,#tiki-midVideo, #tiki-midGraf, #tiki-midAcervo, #tiki-mid {
	line-height:1.5em;
	float:left;
	width:550px;
	margin-top:5px;
	margin-left:5px;
	background: white;
	border-top: 0px solid #dadad9;
	border-bottom: 0px solid #dadad9;
	border-right: 2px solid #dadad9;
	padding: 0px 10px 10px 0px;
	/*-moz-border-radius: 15px 15px 15px 15px;*/
	overflow:hidden;
}
#tiki-midAudio h1,#tiki-midVideo h1, #tiki-midGraf h1, #tiki-midAcervo h1, #tiki-mid h1 {
	line-height:1em;
}
	
#tiki-midAudio {
	border-top: 0px solid #ff8200;
	border-bottom: 0px solid #ff8200;
	border-right: 2px solid #ff8200;
}
#tiki-midVideo {
	border-top: 0px solid #ff8f88;
	border-bottom: 0px solid #ff8f88;
	border-right: 2px solid #ff8f88;
}
#tiki-midGraf {
	border-top: 0px solid #b7a4d3;
	border-bottom: 0px solid #b7a4d3;
	border-right: 2px solid #b7a4d3;
}
#tiki-midAcervo {
	border-top: 0px solid #91cd6d;
	border-bottom: 0px solid #91cd6d;
	border-right: 2px solid #91cd6d;
	padding: 0px 0px 0px 0px;
}

#tiki-mid .wikitext {
	text-align:justify;
}

p.editdate {
	float:right;
	border-top:1px solid #ececec;
	padding-top:5px;
	font-size:10px;
	text-align:right;
}
/* side content */

#sideContent {
	width:190px;
	padding-top:10px;
	float:left;
	text-align:center;
	margin-top:5px;
}

#localMenu {
	position:relative;
	/*left:-4px;*/
	padding-left:20px;
	
}

#localMenu ul {
	text-align:left;
	list-style-type:none;
	display:inline;
	font-weight:bold;
}

#localMenu li.selectedAcervo, li.selectedAudio, li.selectedGraf, li.selectedVideo{
	position:relative;
	left:-20px;
	border-left:20px solid #91cd6d;
	color: white;
	background-color:#91cd6d;
	-moz-border-radius: 0px 8px 8px 0px;
	font-weight:bold;
}

#localMenu li.selectedAudio {
	background-color:#ff8200;
	border-left:20px solid #ff8200;
}
#localMenu li.selectedGraf {
	background-color:#b7a4d3/*8742c9*/;
	border-left:20px solid #b7a4d3;
}
#localMenu li.selectedVideo {
	background-color:#ff8f88/*ff0400*/;
	border-left:20px solid #ff8f88;
}

/* El gallery home */

#listOptions {
	margin: 10px 5px 10px 5px;
	/*border:1px solid blue;*/
	overflow:hidden;
	/*display:inline;*/
}

#listFilters {
	float:left;
}

.listFiltersButtons {
	list-style-type:none;
	display:inline;
	font-size:12px;
}

.listFiltersButtons li {
	float:left;
}

.listFiltersButtons img {
	 float:left
}

.buttonActive {
	float:left;
	height:20px;
	background-image:url(estudiolivre/bMidActive.png);
	cursor: pointer;
	padding: 0px 4px 0px 4px;
	border-right:1px solid #7f7f7f;
}

.buttonInactive {
	float:left;
	height:20px;
	background-image:url(estudiolivre/bMidInac.png);
	cursor: pointer;
	padding: 0px 4px 0px 4px;
	border-right:1px solid gray;
}

.buttonInactiveRight {
	border-right:0px solid gray;
}

.listFiltersButtons A {
	position:relative;
	top:2px;
	color:black;
}

#rightContainerTop {
	width:55%;
	float:right;
}

#listOrder {
	float:right;
	font-size:12px;
	margin-left:10px;
}

#listOrder select {
	border:1px solid white;
}

#listNav {
	font-size:12px;
}

.ulistNav {
	position: relative;
	top: -23px;
	left: 270px;
	display: inline;
}

#listNav .selected {
	font-weight:bold;
}

/* Gallery List Itens */

#gHomeWiki {
	background:#eff9ea;
	/*-moz-border-radius: 8px 8px 0px 0px;*/
	overflow:hidden;
	padding: 0 10px 0px 10px;
}

#gHomeWikiTitle {
	margin-top:3px;
	float:right;	
}

#gHomeWikiBottom {
	text-align:right;
	clear:both;
}

#ajax-gListCont {
	/*height:65px;*/
	padding-right:10px;
}

#gListItem {
	position:relative;
	font-size:10px;
	height:60px;
	margin: 5px 5px 5px 5px;
	border-top: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
	border-right: 2px solid #eaeaea;
	border-bottom: 2px solid #eaeaea;
	padding:5px;
	overflow:hidden;
}

#gLicenseThumbContainer {
	float:left;
}

#gLicenseThumbContainer div {
	float:left;
}

#gLicense {
	margin-right:3px;
	margin-top:4px;
}

#gThumb {
	width:51px;
	height:51px;
}

#gThumb img {
	width:51px;
	height:51px;
}

#gTagsInformationContainer, #gInformation, #gNameAuthor, #gDownloadRating, #gRatingComments  {
	position:relative;
	float:left;
}

#gDownloadRating {
	width:160px;
}
	
.gDownloadCount, .gStreamCount {
	/*border:1px solid blue;*/
	position:absolute;
	top:0px;
	/*right:0px;*/
	width:19px;	
	text-align:center;
	/*float:left;	*/
	font-size:10px;
	font-weight:bold;
	padding:0px;
}

#gTags {
	width:100%;
	height:1em;
	display:block;
	background:#eff8e9;
	position:absolute;
	padding:2px 0px 3px 10px;
	bottom:-15px;
	overflow:hidden;
}

#gNameAuthor {
	margin-right:20px;
	width: 240px;
}

#gName, #gAuthor {
	padding-left:5px;
	text-align:right;
}

#gName A {
	font-weight:bold;
	font-size:13px;
}

#gAuthor A {
	font-style: italic;
}

#gPlay, #gDownload {
	float:left;
	margin-right:1px;
	text-align:center;
	overflow:hidden;
}

#gDownloadPlay {
	width:50px;
	margin:5px 0px 0px 0px;
}

#gRatingComments {
	margin: 5px 0px 0px 15px;
}

#gComments, #gRating{
	width:100px;
	text-align:center;
}

#gEditDelete{
	position:absolute;
	right:-7px;
	margin-top:5px;
	margin-right:2px;
	padding:3px;
}

#ajax-gPlayerImagem h4 {
	text-align:right;	
}

/* User Menu */

.userMenu {
	-moz-border-radius:8px 8px 8px 8px;
    border:1px solid #e5e5e5;
	text-align:right;
	font-size:11px;
	margin:0 10px 10px 10px;
	padding:0px 5px 0px 5px;
}

.userMenu H1 {
	-moz-border-radius:10px 10px 2px 2px;
	background-color:#e5e5e5;
	color:#aaa;
	font-size:12px;
	font-weight:bolder;
	margin:0 -5px 0px -5px;
	padding-right:2px;
}

.userMenu .closeButton {
	float:left;
	margin:-1px 0 0 2px ;

}

.userMenuContent {
	text-align:left;
	background-color:white;
	font-size:12px;
	padding:5px 0 5px 0;
	overflow:hidden;
}

.userMenuContent img.uThumb {
	height:50px;
	float:left;
	margin: 5px 5px 5px 15px; 
}

.userMenuContent hr {
	width:80px;
}

#userNameStatsKarma {
	height:50px;
	text-align:center;
}

#uMenuName {
	width:100%;
	font-size:18px;
	font-weight:bold;
}

#uStats {
	font-size:10px;
	color:gray;
}

#moduleLastChanges, #moduleWhoIsThere {
	text-align:left;
}

#moduleLastChangesMore {
	padding-left:20px;	
}

.modViewAll {
	text-align:right;
}

.modCenterContent {
	text-align:center;
}

.modViewAll A{
	text-decoration:underline;
}
#moduleWhoIsThereMore {
	padding-left:20px
}

#moduleGallery{
	text-align:left;
}


.mod-el_msg-msg {
	text-decoration:none;
	color:black;
}
/* Login Box */

#uLoginBox{
	text-align:left;
}

#uLoginBox input.uText {
	border:2px solid #e8e8e8;
	height:16px;
	margin-bottom:2px;
}

#login-user {
	width:97%;
}

#login-pass {
	width:85%;
	margin-right:3px;
}

#uLoginOptions {
	padding:2px;
	font-size:12px;
}

/* Gallery Upload ######## */

#gUpload {
	/*border:1px solid purple;*/
	padding: 10px 0px 10px 0px;
	overflow:hidden;
}

/* Gallery Upload - Left ######### */

IMG.separator {
	width:140px;
	height:2px;
	margin: 10px 0px 10px 0;
}

#gUpLeft {
	float:left;
	min-width:250px;
	margin-right:10px;
	margin-left:10px;
	border-right: 1px solid #91cd6d;
	text-align:center;
	padding-bottom:50px;
}

#gUpIcons {
	overflow:hidden;
	margin: 0 0 0 0;
}

#gUpIcons IMG {
	margin-bottom:3px;
}

DIV.gUpIcon {
	float:left;
	margin: 0px 8px 0px 8px;
	font-size:12px;
	text-align:center;
}

#gUpList {
	position:relative;
	left:3px;
	/*border:1px solid red;*/
	text-align:left;
}

#gUpList IMG {
	/*border:1px solid grey;*/
	position:relative;
	top:4px;
}

#gUpListAddFileCont {
	text-align:right;
	padding-right:17px;
}

#gUpListAddFileCont A {
	font-size:10px;
}

DIV.gUpListItem {
	position:relative;
	right:2px;
	padding: 1px 3px 1px 3px;
	min-height:24px;
	margin-bottom:5px;
	margin-right:3px;
}

DIV.gUpSelected {
	margin-right:0px;
	border-right: 1px solid white;
	border-top: 1px solid #91cd6d;
	border-left: 1px solid #91cd6d;
	border-bottom: 1px solid #91cd6d;
	-moz-border-radius: 8px 0px 0px 8px;
}

DIV.gUpListItemField {
	position:absolute;
	top:5px;
	left:23px;
	height:14px;
	width:156px;
	padding-right:3px;
	border:1px solid #c9c9c9;
	font-size:11px;
	background-color:#f1f1f1;
	text-align:right;
	z-index: 1;
}

DIV.gUpForm {
	position:absolute;
	top: 0px;
	left: 20px;
	filter:alpha(opacity=0);
	-moz-opacity:0.0;
	opacity:0.0;
	z-index:10;
	clip: rect( 0px, 225px, 30px,170px);
}

DIV.gUpStatus {
	position:absolute;
	top: 0px;
	left: 0px;
	height: 14px;
	/*esse width esta vinculado ao upload.js, se mudar abaixo mude la tb*/
	width: 159px;
	z-index: 2;
}

.gUpPercent {
	position:absolute;
	top: 0px;
	left: 0px;
	/*esse width esta vinculado ao upload.js, se mudar abaixo mude la tb*/
	width: 158px;
	text-align:center;
	z-index: 3;
	color:#505050;
	font-weight: bold;
}

#gUpPercent {
	background-color: #e1a7a4;	
}

DIV.gUpListItemFieldComplete {
	background-image:url(estudiolivre/bgVerde70.png);
	font-size:11px;
	text-align:center;
	font-weight:bold;
}

DIV.gUpListItemFieldCompleteInside {
	background-image:url(estudiolivre/bgVerde70.png);
	padding: 0px 3px 0px 3px;
	display:inline;
}

DIV.gUpEditing {
	color:#a9a9a9;
	background-image:url(estudiolivre/bgYellow70.png);
}

DIV.gUpUploading {
	background-image:url(estudiolivre/bgRed50.png);
}

A.gUpButton, A.gUpButtonHover {
	display:block;
	position:absolute;
	right:3px;
	top:5px;
	width:57px;
	height:16px;
	font-size:10px;
	background-image:url(estudiolivre/bActive.png);
	background-repeat:no-repeat;
	text-align:center;
	overflow:hidden;
}

A.gUpButtonHover {
	background-image:url(estudiolivre/bInactive.png);
}

#gUpSet {
	padding:0px 5px 0px 5px;
	text-align:center;
}

#gUpSet A {
	font-size:12px;
	font-weight:bold;
}

#gUpRight {
	overflow:hidden;
}

#gUpDescription {
	margin-top:10px;
}

#gUpDescription DIV {
	overflow: auto;	
}

#gUpDescription DIV DIV {
	padding: 3px;
	border: 1px solid #FFF;
	width: 250px;
	height:125px;
	font-size:12px;
	float:left;
	font-weight:normal;
}

#gUpEditThumbTitleAuthor {

}

#gUpThumb {
	float:left;
	margin: 0px 7px 5px 0px;
	overflow:hidden;
	padding:4px;
	border-top:1px solid #e7e7e7;
	border-left:1px solid #e7e7e7;
	border-right:2px solid #e7e7e7;
	border-bottom:2px solid #e7e7e7;
	width: 60px;
	height: 60px;
	position: relative;
	cursor:pointer;
}

.gUpThumbImg {
	width: 60px;
	height: 60px;
}

.gUpThumbImgCreating {
	margin: 20px 0px 0px 22px;
}

#gUpThumbImgForm {
	position: relative;
	cursor:pointer;
}

#gUserThumbFormContainer {
	position: relative;
	cursor:pointer;
}

#gUpThumbForm {
	position: absolute;
	left: -175px;
	top: 2px;
	clip: rect(0px, 255px, 62px, 175px);
	z-index: 20;
	filter:alpha(opacity=0);
	-moz-opacity:0.0;
	opacity:0.0;
	cursor:pointer;
}

.gUpThumbFormButton {
	height: 62px;
	cursor:pointer;
	border:30px solid blue;
}

#gUserThumbForm {
	position: absolute;
	left: -120px;
	top: -90px;
	clip: rect(0px, 255px, 90px, 165px);
	z-index: 20;
	filter:alpha(opacity=0);
	-moz-opacity:0.0;
	opacity:0.0;
}

.gUserThumbFormButton {
	height: 90px;
}

#gUpThumbStatus {
	font-size: 14px;
	margin-top: 23px;
	width: 60px;
	text-align: center;
}

#gUserThumbStatus {
	position: relative;
	top: -55px;
	left: 55px;
	font-size: 14px;
	display: none;
	z-index: 5;
}

#gUpTitleAuthor {
	position:relative;
	top:0px;
}

INPUT.gUpTitle{
	width:174px;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Verdana, Helvetica, Lucida, Sans-Serif;
}

DIV.gUpTitle{
	width: 185px;
	position: relative;
	top: 4px;
	margin-left: 4px;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Verdana, Helvetica, Lucida, Sans-Serif;
}

INPUT.gUpAuthor {
	width:149px;
}



#error-descricao {
	position:relative;
	left:-3px;
	float:right;
}

DIV.gUpAuthor {
	font-style: italic;
	font-weight:normal;
}

#gUpAuthorCont{
	position:relative;
	top:8px;
}

#gUpEditTags {
	width:259px;
	font-size:12px;
}

#gUpEditTags INPUT {
	border: 1px inset rgb(233, 233, 174);
	height:14px;
	width:220px;
	padding-right:3px;
	background-color:#f1f1f1;
	font-size:12px;
}

#gUpTagSugest {
	text-align:right;
}

#gUpTagSuggestUser {
	margin-top:3px;
	margin-left:35px;
	font-size:9px;
	text-align:left;
	overflow:hidden;
}

#ajax-gUpTagListItem {
	width:85%;
	border-right:2px solid #f1f1f1
}

#ajax-gUpTagSuggestMore {
	float:right;
	margin-top:4px;
}

#gUpmoreoptionsLink {
	float:right;
}

A.gUpmore {
	font-size:11px;
	margin-right:5px;
	/*margin-bottom:15px;*/
}

#gUpMoreOptions INPUT {
	border: 1px inset rgb(233, 233, 174);
	padding: 3px 0px 3px 3px;
	font-size: 12px;
	font-family: Arial, Verdana, Helvetica, Lucida, Sans-Serif;
	background-color: #f1f1f1;
	margin-right:4px;
	max-width: 100px;
}

#ajax-gUpMoreOptionsContent {
	padding-top:10px;
}

.gUpMoreOptionsItem{
	height:3em;
}

.gUpMoreOptionsItemSingle{
	height:2em;
}

.gUpMoreOptionsName {
	text-align:right;
	padding-right:5px;
	float:left;
	width:94px;
	text-decoration:underline;
}

#gUpSave {
	text-align:center;
}

#gUpPending {
	list-style-type:none;
}


/* ####### Página do Arquivo ####### */

#aThumbForm {
	position: absolute;
	left: -155px;
	top: 0px;
	clip: rect(0px, 255px, 100px, 165px);
	z-index: 25;
	filter:alpha(opacity=0);
	-moz-opacity:0.0;
	opacity:0.0;
}

#aThumbFormButton {
	height:100px;
	cursor:pointer;
}

#arqCont {
	padding:5px;
}

#aTopCont {
	position:relative;
	/*overflow:hidden;*/
	height: 117px;
}

#aThumbRatingLic {
	position:relative;
	width:100px;
	float:left;
	margin: 0 10px 0 0;
	text-align:center;
}

#aThumbLic {
	position:absolute;
	bottom:opx;
	margin-bottom:5px;
	z-index:20;
}

#aThumb {
	width:100px;
	height:100px;
}

#aLic {
	position:absolute;
	bottom:0;
	left:0px;
	z-index:20;
}

#aMainInfo {
	margin-left:110px;
}

#aNameAuthorDown {

}

#aNameAuthor {
	width:85%;
}

#aName {
	font-size:18px;
	font-weight:bold;
}

#aDelete {
	height:15px;
	float:right;
	filter:alpha(opacity=40);
	-moz-opacity:.40;
	opacity:.40;
}

#aDelete:hover {
	filter:alpha(opacity=100);
	-moz-opacity:1;
	opacity:1;			
}

#aAuthorDate {
	font-size: 14px;
	text-align:right;
}

#aAuthorDate A {
	font-style:italic;
}

#aDown{
	position:relative;
	float:right;
	border-left: 1px solid green;
	padding: 0 5px 0 5px;
}

#aActions {
/*	margint-top:50px;*/
	min-height:40px;
	margin-bottom:20px;
	vertical-align:middle;
}

#aActions DIV {
	margin-top:10px;
	display:block;
	text-align:center;
}

#aMiddleCont{
	
}

.aTags {
	background:#eff8e9;
	width:98%;
	padding: 2px 20px 2px 10px;
	margin-top:5px;	
}

.aTagsEdit {
	float:right;
	margin-top:7px;
}

.aTagsInput {
	background:#eff8e9;
	width:98%;
	padding: 2px 20px 2px 10px;
	margin-top:5px;	
}
	

#aMiddle {
	position:relative;
}

#aComments {
/*	position:absolute;
	left:0px;
	top:0px;*/
	width:270px;
	/*height:100%;*/
	border-right: 2px solid #c2c2be;
	float: left;
}

.aTitleCont {
	position:relative;
	top:-12px;
	background-color: #fff;
	display:inline;
	padding-right:5px;
	padding-left:5px;
}

.aTitleContRight {
	left:-10px;	
}

.aItemsCont {
	position:relative;
	top:-5px;
	display:block;
	padding-right:10px;
	padding-left:10px;
	text-align:justify;
}

#aCommentsRss {
	position:relative;
	top:2px;
	margin-left: 15px;	
}

#aCommentSend #uMsgSendInput {
	width: 75%;
	background-color:white;
}

#aCommentSend #uMsgSend {
	margin-right: 8px;
}

#aCommentsItemsCont .uMsgItem {
	text-align:left;
	margin-bottom:10px;
	padding-bottom:3px;
}

#aDescriptionInfo {
	margin-left:270px;
	border-left: 2px solid #c2c2be;
}

#aDescriptionInfo .sectionTitle {
	padding-left: 20px;
	padding-right: 10px;
}

#aDescCont {
	margin-bottom:15px;
}

.aSaveCancel {
	margin:10px;
	margin-top:20px;
	border: 1px solid #c2c2be;
	text-align:center;
	padding:5px 0 3px 0;
}

/* ####### User Page ####### */

#userPage {
	/*border: 1px solid #00f;
	margin:5px;*/
}

#uName {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-top:10px;
}

#uContactKarmaAccount {
	overflow:hidden;
	margin:10px 0px 10px 0px;
}

.uContactInfoCont {
	margin:2px;
	padding:5px;
	float:left;
	width:30%;
	/*text-align:center;*/
}	

#uKarmaThumb {
	border-right:2px solid #e3e3e1;
	border-left:2px solid #e3e3e1;
}

#uKarma {
	margin-top:-5px;
	margin-bottom:10px;
}

.uKarmaImg {
	margin-left:2px;
}	

.uContactItem {
	display:block;
	max-width:100%;
}	

.uMainContainer {
	width:100%;
	margin-bottom:10px;
}

.uMainTitle {
	padding: 3px;
	border-top: 1px solid #e3e3e1;
	border-bottom: 1px solid #e3e3e1;
	background-color:#f0f0ef;
}

.uMainItemContainer {
	margin-left:10px;
}

#uGalleryItems {
	margin-left:5px;
	width: 102%;
}

.uRssCont{
	float:right;
	filter:alpha(opacity=40);
	-moz-opacity:.40;
	opacity:.40;	
}

.uRssCont:hover{
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	opacity:1.0;	
}

.uBlogItem {
	margin-top: 10px;
	border-bottom: 1px solid grey;
}

#uBlogItemTitle h1 {
	font-size:12px;
	display:inline;
}

#uBlogItemText {
	margin-left:10px;
}

#uBlogItemBottom{
	text-align:right;
}

.uMsgItem{
	margin-top:5px;
	border-bottom:1px solid #adadad;
	overflow:hidden;
}	

.uUnreadMsgItem {
	border-right:2px solid tomato;	
}

.uMsgDate, .uMsgDel, .uMsgAvatar{
	float:left;
}

.uMsgAvatar {
	margin-right:5px;
}

.uMsgAvatar IMG {
	height:50px;
}

.uMsgTxt {
	padding: 0 5px 0 0;
	min-height:50px;
}

.uMsgDate, .uMsgDel {
	text-align:center;
	float:right;
	height:3em;
	margin-right:2px;
}

.uMsgDate{
	font-size:10px;
}

#uMsgSend {
	margin-top:10px;
	text-align:right;
}

#uMsgSendInput {
	height:20px;
	width:80%;
	border-top: 2px solid #e9e9e9;
	border-bottom: 2px solid #e9e9e9;
	border-left: 2px solid #e9e9e9;
	-moz-border-radius:8px 0px 0px 8px;
	background-color:white;
}

#uMsgSendSubmit {
	float:right;
	display:block;
	position:relative;
	left:-2px;
	padding-left:3px;
	height:26px;
	border:0px;
	background-color:#e9e9e9;
	-moz-border-radius:0px 8px 8px 0px;
	cursor: pointer;
}

/******************************************************/
/* estilos para as páginas que listam:
	- usuários (tiki-list_users.tpl)
	- forums (tiki-list_forums.tpl)
	- blogs (tiki-list_blogs.tpl)
	- modulos (tiki-user_assigned_modules.tpl)
 */
/******************************************************/

/*o título da página e a paginacao*/
#users h1, #forum h1, #blogs h1, #listLastChanges h1, #blogHead h1, #viewForum h1 {
	text-align:center;
	background-color:#f9f9f9;
	border:1px solid gray;
}

/* para que a contagem de usuários fique na direita */
#users h5, #blogs h5, #listLastChanges h5, #viewForum h5 {
	text-align:right;
}

/*margens e largura da tabela*/
#users table, #forum table, #blogs table,  #listLastChanges table, #editMods table, #viewForum table{
	margin: 0 0 20px 0;	
	width:100%;
}

/*para que o título da coluna seja diferente*/
#users td.heading, #forum td.heading, #blogs td.heading,  #listLastChanges td.heading, #editMods td.heading, #viewForum td.heading{
	font-weight:bold;
}

/*padding nos elementos da tabela: legibilidade*/
#users td, #forum td, #blogs td,  #listLastChanges td, #editMods td, #viewForum td{
	padding: 4px 0 4px 3px;	
}

/*para que os links da tabela sejam mais legíveis*/
#users table a, #forum table a, #blogs table a, #listLastChanges a, #editMods a, #viewForum table a{
	text-decoration:underline;
	color:black;
}
/*para que as linhas da tabela tenham cores diferentes nas linhas pares*/
#users .odd, #forum .odd, #blogs .odd,  #listLastChanges .odd, #editMods .odd, #viewForum .odd{
	background-color:#e9e9e9
}

/* paginacoes usadas por aí... */
.paginacao {
	text-align:center;
	background-color:#f9f9f9;
	border:1px solid gray;
	padding:3px;
	margin-bottom:10px;
}

/* para que as flechas da paginacao nao fiquem coladas no texto*/
.paginacao img {
	margin:0 15px 0 15px;
}

/*******************************/
/* estilos extra para os blogs */
/*******************************/
#blogHead h1 {
	margin:0;
	margin-top:15px;
	padding:5px;
}

#blogHead #desc {
	width:50%;
	margin-left:49%;
}

#blogHead #moduleblogDescCont {
	text-align:justify;
	font-size:11pt;
	font-weight:normal;
	border:1px solid gray;
	border-top:0px;
	padding:5px;
}

#blogHead #descFlipper	{
	margin-top:-1px;
	text-align:right;
	background-color:#f9f9f9;
	border:1px solid gray;
	border-top:1px solid #f9f9f9;
	font-size:8pt;
	color:#777;
	font-weight:bold;
}

#blogHead h5 {
	text-align:right;
	font-size:8pt;
	font-style:italic;
	margin:0;
	padding:0;
	margin-top:0.5em;
}

#blogHead h4 {
	text-align:right;
	font-size:10pt;
	margin-right:1%;
}

#blogHead #edit {
	text-align:center;
	font-size:15pt;
	background-color:#f9f9f9;
	width:70%;
	margin:0 auto;
}

.blogpost {
	margin: 0 2% 0 2%;	
}

.blogpost .posthead .icons {
	float:right;
	margin-top:7px;
}

.blogpost .posthead img {
	opacity:0.5;
}

.blogpost .posthead h1 {
    font-weight: normal;
	font-variant: small-caps;
	border-bottom: 1px solid grey;
}

.blogpost .posthead h4 {
	text-align:right;
	font-weight: normal;
	margin-bottom:0.5em;
}

.blogpost .postbody {
	background-color:#fbfbfb;
	margin: 0 2% 0 2%;	
}

.blogpost .postbottom {
	text-align:right;
	font-size:8pt;
}
#vBlogPost h2 {
	text-align:center
}

/******************************/
/* estilos extra para os mods */
/******************************/

#editMods .centerCellCont {
	text-align:center;
}

/******************************/
/* estilos extra para o fórum */
/******************************/

/*título da página e paginacao (ver acima!!)*/
/*!!!!!!!VER ACIMA!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*células da tabela da tiki-forums.tpl*/
#forumTable .forumTableCell {
	text-align:center;
	vertical-align:center;
	padding:2px;
}

/*para dar destaque ao nome do fórum*/
td.forumName {
	font-size:18px;
	background-color:#888;
	text-align:center;	
	color:white;
}


/**********************************************/
/* estilos da listagem das ultimas alterações */
/**********************************************/

#listLastChanges h4 {
	font-weight:normal;
	text-align:center;
}

/* aquela caixinha de busca nas últimas alterações */
#lastChangesOptions{
	padding:7px 2px 7px 2px;
	margin-left:68%;
	width:170px;
	text-align:center;
	border: 1px solid #e9e9e9;
	font-size:12px;
}

#lastChangesOptions INPUT {
	border:1px outset rgb(233, 233, 174);
	margin:2px;
	background-color:#c1c1c1;
	font-size:12px;
}


#lastChangesOptions .input {
	border: 1px inset rgb(233, 233, 174);
	background-color:#f1f1f1;
	font-size:12px;
}

/* Browse FreeTags */

#browseFreeTags H2 {
	font-size:12px;
	font-weight:normal;
}

#currentTag2 {
	font-size:16px;
	font-weight:bold;
	text-transform: uppercase;
}

#freeTagsPagination {
	border-bottom:1px solid gray;
	padding-bottom:3px;
	
	text-align:right;
	font-size:12px;
	font-weight:bold;
}

/* página de preferências do usuário */

.hide {
	display:none;
}

.tabcontent {
	padding: 5px;
}

.tabmark {
	padding:2px;
	font-weight:bold;
	font-size:14px;
	border: 1px solid white;
}

#userPrefs {
	width:95%;
	margin:0 auto;
}

#userPrefs FORM TABLE{
	width:100%;
}

#userPrefs td.button {
	text-align:center;
}

#userPrefs .form INPUT, #userPrefs .form SELECT {
	border: 1px inset rgb(233, 233, 174);
	padding: 1px 0px 1px 0px;
	background-color: #f1f1f1;
}

#userPrefs .form SELECT {
	padding:0px;
}

#userPrefs .button INPUT {
	font-size:12px;
	background-color:#d9d9d9;
}

#userPrefs H1 {
	text-align:center;
	font-size:20px;
	margin:10px;
}

.cbox-title {
	padding-left:5px;
	font-weight:bold;
	font-size:16px;
	margin:10px 0 10px 0;
	background-color:#f9f9f9;
	border:1px solid gray;
}

/* comentários */

.comMainTitle	{
	background-color:#f9f9f9;
	border:1px solid gray;
	text-align:center;
	font-size:16pt;	
	margin:5px 0 5px 0;
	padding:2px;
}

#comzoneItems {
	padding:10px;	
}

.comment .commentTitle {
	text-align:left;
	background:#eee;
	font-size:12pt;	
	margin:0;
}

.subcomment {
	margin-left:20%;
}

.commReply {
	text-align:right;
}

.commPreview {
	border:1px solid black;
	margin:10px;
	padding:5px;
}

#comPostCont {
	padding:5px;	
}

#editpostform h3 {
	margin:0;	
}

#comments-title, #editpost2 {
	width:95%;
	border: 1px inset rgb(233, 233, 174);
	padding: 3px 0px 3px 3px;
	background-color: #f1f1f1;
	margin-left:5px;
}

#comButtons	{
	text-align:right;	
	padding:3px;
}

#comButtons INPUT {
	border:0px;
	font-size:12px;
	background-color:#d9d9d9;
}


/*******************/
/*    blog         */
/*******************/

.blogEdit {
	border: 1px solid grey;
	width: 100%;
}

#blogeditCont{
	margin: 10px 5px 10px 5px;	
}

#blogPosting .button {
	border:0px;
	font-size:12px;
	background-color:#d9d9d9;
}

#blogPosting h3 {
	margin:0;	
}

#editpageform {
	padding:0 10px 0 10px;
}

#blogPosting h2 {
	background-color:#f9f9f9;
	border:1px solid gray;
	text-align:center;
	font-size:16pt;	
	width:90%;
	margin-right:auto;
	margin-left:auto;
	margin-top:10px;
	margin-bottom:10px;
	padding:2px;	
}

#blogPostPrev {
	padding:10px;
	margin-bottom:15px;
}

#blogPostPrev h3 {
	display:inline;
	margin:0;
	padding:3px;
	border:1px solid gray;
	border-bottom:1px solid white;
	z-index:10;
}
#postPrevCont {
	border:1px solid gray;
	margin-top:2px;
}


/***************/
/*   FORUM     */
/***************/
#viewForum TEXTAREA{
		width:100%;
}

#viewForum td.heading {
	font-weight:bold;
	background:#c1c1c1;
}